{% extends "blogpit/base.html" %}


{% block blogpit_content %}

{% block blogpit_article %}

	{{article}}

{% endblock blogpit_article %}


{% block blogpit_article_comment %}
{% if form %}
<div id="blogpit_comment_form">
	<h1>leave your comment</h1>

	{% if form.errors %}
	    <ul class="errors">
	        {% for field_name, field_errors in form.errors.items() if field_errors %}
	            {% for error in field_errors %}
		    	{% if form[field_name].flags.is_spamtrap %}
	                <li>{{ error }}</li>
			{% else %}
	                <li>{{ form[field_name].label }}: {{ error }}</li>
			{% endif %}
	            {% endfor %}
	        {% endfor %}
	    </ul>
	{% endif %}

	<form method="POST" action="{{url_for('.blogpit_content', path=blogpit_path) }}">
		{{ form.hidden_tag() }}
	<dl>
		<dt>{{form.name.label}}</dt> <dd>{{form.name()}}</dd>
		<dt>{{form.content.label}}</dt> <dd>{{form.content()}}</dd>

	</dl>
		<input type="submit" value="Submit Comment"/>
	</form>
</div>

{% else %}

	{% if spam_found %}
		<h2>{{spam_found}}</h2>
	{% endif %}

{% endif %}
{% endblock %}

{% endblock blogpit_content %}
