{% extends "blogpit/section_base.html" %}


{% block blogpit_section_content %}


{% if articles %}
<h1>articles</h1>
<ul class="article_list">
{% for article in article_names %}

<li><a class="bluelink" href="{{ url_for('.blogpit_content', path=blogpit_path+article) }} ">{{article}}</a></li>
{% endfor %}
</ul>
{% endif %}


{% if sections %}
<h1>sections</h1>
<ul class="section_list">
{% for section in sections %}
	<li><a class="bluelink" href="{{ url_for('.blogpit_content', path=blogpit_path+section) }} ">{{section}}</a></li>
{% endfor %}
</ul>
{% endif %}


{% endblock %}

